.center {
  text-align: center;
}

 input {
  padding: 10px 3px;
  margin: 0;
  border: 2px solid black;
  border-radius: 9px;
  font-size: 20px;
  width: fit-content;
  background-color: aquamarine;
}

.area {
  background-color: rgb(65, 65, 121);
  width: 300px;
  padding: 15px 10px;
  margin: 30px auto;
  border: 4px solid black;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center
}

body {
  background-color: antiquewhite;
  color: rgb(218, 198, 26);
  font-size: x-large;
}